<!DOCTYPE html>
<html lang="en" xml:lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Voting Wahlvorschlag</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
      }

      @("@")media only screen {
        body {
          background-color: gray;
          padding: 1cm;
        }

        .doc {
          background-color: white;
        }
      }

      h1,
      h2,
      h3,
      h4,
      h5 {
        margin: 0;
      }

      h1 {
        margin-bottom: 1mm;
      }

      .input {
        height: 1rem;
        position: relative;
        display: inline-block;
        padding: 0 1mm;
        box-sizing: border-box;
      }
      .input .border {
        border: 1px solid #999;
        border-top: none;
        height: 1mm;
        margin-top: 3mm;
        margin: 3mm 0.5mm 0.5mm 0.5mm;
        bottom: 0;
        position: absolute;
        left: 0;
        right: 0;
      }
      input {
        border: none;
        width: 100%;
        position: relative;
        bottom: 1mm;
      }
      .inline-input {
        bottom: -.5mm;
      }

      .w-2 {
        width: 2rem;
      }
      .w-4 {
        width: 4rem;
      }
      .w-6 {
        width: 6rem;
      }
      .w-12 {
        width: 12rem;
      }
      .w-16 {
        width: 16rem;
      }
      .w-24 {
        width: 24rem;
      }

      .col-main {
        width: 20cm;
      }

      .col-right {
        width: 8.5cm;
      }

      .label {
        font-size: 1.1rem;
        font-weight: 700;
        color: #999;
        margin-right: 0.2rem;
        position: relative;
        top: -1mm;
      }

      .size-A4.landscape {
        width: 297mm;
      }

      .size-A4 {
        width: 210mm;
      }

      .page {
        page-break-after: always;
      }

      .hint {
        font-size: 8pt;
        color: #555;
      }

      .filled {
        background-color: #dadada;
      }

      .small {
        font-size: 7pt;
      }
      .bold {
        font-weight: 700;
      }
      .super {
        vertical-align: super;
      }

      .row {
        display: flex;
        flex-direction: row;
        margin-bottom: 0.15rem;
      }
      .col {
        display: flex;
        flex-direction: column;
      }
      .stretch {
        justify-content: stretch;
      }
      .space {
        justify-content: space-between;
      }
      .grow {
        flex-grow: 1;
      }
      .no-shrink {
        flex-shrink: 0;
      }
      .end {
        justify-content: flex-end;
      }
      .items-end {
        align-items: flex-end;
      }
      .center {
        justify-content: center;
      }
      .right {
        text-align: right;
      }
      .inline {
        display: inline-block;
        margin: 0;
      }
      .fullwidth {
        width: 100%;
      }
      .spacer {
        display: inline-block;
        width: 0.5rem;
      }
      .space-bottom {
        margin-bottom: 1.5mm;
      }
      .space-right {
        margin-right: 2mm;
      }
      .space-top {
        margin-top: 5mm;
      }

      .upright {
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
      }

      table {
        margin-bottom: 1.5mm;
      }

      table,
      th,
      td {
        font-size: 11px;
        border-collapse: collapse;
        border: 1px solid #000;
      }

      th {
        background-color: #dadada;
        vertical-align: top;
      }

      th,
      td {
        padding: 1mm;
      }

      thead tr > tr th {
        font-weight: 400;
      }

      thead {
        height: 200px;
      }
      tbody {
        background-color: #fff;
      }
      tbody td {
        border-top: 1px dashed #000;
        border-bottom: 1px dashed #000;
      }

      tbody tr {
        height: 1.2cm;
      }

      tbody tr > td.right {
        text-align: right;
      }

      tbody tr > td.center {
        text-align: center;
      }

      .top-no-border th,
      .top-no-border tr {
        border-top: none;
      }
      .bot-no-border {
        border-bottom: none;
      }

      .center-placeholder::placeholder {
        text-align: center;
        color: #000;
      }

      .version {
        align-items: flex-end;
        justify-content: flex-end;
        display: flex;
      }

      .checkbox-checked {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAy0lEQVQ4y6WTIQ7CMBiFv9duOwQCsVssQSA4A0dAoEZCEAgcAsc1OAkKiZ1A4BHIrpiSMNgYbDVN27zvf31/K8DTY0Rh3gPHP7UZkBMcTDsUnwLe9LEP8BfAWjvsDJC0cs6drbWD1/3oR3Huvd9JWjjnru/nlRAljZMkiV7Wc8BLWtaFWAEEe3fgEMdxImkWxOsaY5+AUHESIKcg3jTcrB4QICPgBmy/RNMMADDGDNM0NW2Axi6UZXkpiqK1Q71f4tNB1kGbAYie3/kBVdgzl8pet1AAAAAASUVORK5CYII=');
        width: 12px;
        height: 12px;
        background-size: contain;
        display: inline-block;
      }

      .checkbox-unchecked {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAR0lEQVQ4y+3TMRXAIBRD0UtPTX0j6KgUXFUWLCCg/KUDWTLlJUsKuoTu6Q3vx2zgMRfUjfKKfmXmwwEcwD8A60yxkQ0oknceO48HO4dlIIgAAAAASUVORK5CYII=');
        width: 12px;
        height: 12px;
        background-size: contain;
        display: inline-block;
      }

      .preserve-whitespace {
        white-space: pre-wrap;
      }
      
      .no-page-break {
        page-break-inside: avoid;
      }

      footer.pdf {
        width: 100%;
        padding-right: 0.75cm;
        @* needed according to https://github.com/GoogleChrome/puppeteer/issues/2104 *@
        font-size: calc(8pt * 210/297);
        font-family: Arial, Helvetica, sans-serif;
      }

      footer.pdf div {
        width: 100%;
        text-align: right;
      }
      
      @RenderSection("HeaderStyles", false)
      @RenderSection("Styles", false)
    </style>
</head>
<body>
<div class="doc size-@ViewBag.Model.Template.Format @(ViewBag.Model.Template.Landscape ? "landscape" : "")">
  <header class="pdf"><span></span></header><!-- enforce empty pdf header -->
  @RenderBody()
  <footer class="pdf">
    @if (ViewBag.Model?.List != null && !ViewBag.Model.List.IsNew && ViewBag.Model.List.Version != null)
    {
        <div>Version @ViewBag.Model.List.Version | Seite @ViewBag.Model.CurrentPage / @ViewBag.Model.TotalPages</div>
    }
    else {
        <div>Seite @ViewBag.Model.CurrentPage / @ViewBag.Model.TotalPages</div>
    }
  </footer>
</div>
</body>
</html>
