@using RazorLight
@using System
@inherits TemplatePage<Eawv.Service.Models.TemplateServiceModels.TemplateBag>
@{
    ViewBag.Model = Model;
    Layout = "BaseLayout_Default";
    var entries = Model.Election.QuorumSignaturesCount ?? 200;
    var entriesPerPage = 10;
    var pages = Math.Ceiling((double)entries / entriesPerPage);
    
    var tenantTitle = Model.GetInfoText("tenantTitle");
    var hasTenantLogo = string.IsNullOrEmpty(tenantTitle) && ViewBag.Model.Election.TenantLogo != null;
}

@section HeaderStyles {
    @if (hasTenantLogo)
    {
           <text>
           .page {
               background-image: url('@ViewBag.Model.ElectionTenantLogoDataURI');
               background-repeat: no-repeat;
               background-position: top right;
               background-size: auto 55px;
           }
           </text>
    }
}

@for (var page = 1; page <= pages; page++)
{
    <div class="page">
        <header class="row space">
            <h1 class="preserve-whitespace">@Model.Election.Name</h1>

            @if (!hasTenantLogo)
            {
                <h1>@tenantTitle</h1>
            }
        </header>
        <main>
            <div class="row stretch">
                <div class="grow">
                    <div class="row space">
                        <div class="row col-main">
                            <div>
                                @if (Model.IsMajorz)
                                {
                                    <span class="bold">Zur Wahl wird vorgeschlagen:</span>
                                }
                                else
                                {
                                    <span><span class="bold">Bezeichnung</span> des Wahlvorschlags:</span>
                                }
                            </div>
                            <div class="grow col">
                                <div class="input">
                                    <input value="@Model.List.Name" />
                                    <div class="border"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.IsProporz)
            {
                <div class="row stretch">
                    <div class="grow">
                        <div class="row space">
                            <div class="row col-main">
                                <div>
                                    Evtl. <span class="bold">Präzisierung</span> nach Alter, Geschlecht, Region oder Parteiflügel:
                                </div>
                                <div class="grow col">
                                    <div class="input">
                                        <input value="@Model.List.Description" />
                                        <div class="border"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div>
                <div class="row space">
                    <div class="row items-end">
                        <div>
                            <h2 class="inline" id="table-heading">Unterzeichnerinnen und Unterzeichner des Wahlvorschlags</h2>
                        </div>
                    </div>
                </div>
                <table class="fullwidth" aria-describedby="table-heading">
                    <thead>
                        <tr>
                            <th scope="col" rowspan="2" style="width: 1cm">Nr.</th>
                            <th scope="col" class="bot-no-border" style="width: 4cm">Name</th>
                            <th scope="col" class="bot-no-border" style="width: 4cm">Vorname</th>
                            <th scope="col" colspan="3" class="bot-no-border">Geburtsdatum</th>
                            <th scope="col" colspan="3" class="bot-no-border">Adresse</th>
                            <th scope="col" class="bot-no-border" style="width: 4cm">Unterschrift</th>
                            <th scope="col" rowspan="2" style="width: .2cm">Kontrolle (leer lassen)</th>
                        </tr>
                        <tr class="top-no-border">
                            <th scope="col" style="width: 4cm;">(eigenhändig)</th>
                            <th scope="col" style="width: 4cm;">(eigenhändig)</th>
                            <th scope="col">
                                <span class="upright">Tag</span>
                            </th>
                            <th scope="col">
                                <span class="upright">Monat</span>
                            </th>
                            <th scope="col">
                                <span class="upright">Jahr</span>
                            </th>
                            <th scope="col" style="width: 4cm;">Strasse/Nr.</th>
                            <th scope="col" style="width: 2cm;">PLZ</th>
                            <th scope="col" style="width: 4cm;">Wohnort</th>
                            <th scope="col" style="width: 4cm;">(eigenhändig)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 1; i <= entriesPerPage && (page - 1) * entriesPerPage + i <= entries; i++)
                        {
                            <tr>
                                <td class="center">@((page - 1) * entriesPerPage + i)</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="filled"></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="preserve-whitespace">@Model.GetInfoText("formSignatories")</div>
            </div>
        </main>
    </div>
}
